.contactIcon {

    width: 30px;
    background-color: white;
}

.containerTitle {


    display: flex;
    gap: 1em;
    justify-content: center;
    margin-top: 2em;
}

.contactTitle {

    font-weight: 900;
    font-size: 25px;

}

.tableStyle {

    margin-top: 2em;

}

.icons {

    width: 15px;
    position: relative;
    bottom: -1px;

}

.tdFinal {

    display: flex;
    gap: 1em;

}

