.containerAll {

    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.containerItems {

    box-shadow: 0px 0px 4px 1px black;
    padding: 20px;
    border-radius: 10px;

}

.valueStyle {

    font-weight: 900;
    font-family: 'Roboto';
    font-size: 30px;

}